
<md-content class="md-padding" >
  <md-card>
      <md-card-header>
        </md-card-header>
        <img ng-src="./assets/images/insurance-app/cover-home.png" class="md-card-image" alt="Washed Out">
        <br/>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Osiguranje</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            E2 osiguranje Vam nudi međunarodno putno osiguranje. Dok ste na putu osigurajte i svoj dom i obezbjedite sebi pomoć na putu.
           <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
              <md-button class="md-raised md-primary" style="color: rgba(255,255,255,0.87); background-color: rgb(249, 141, 52);" >Kupite osiguranje</md-button>
             </section>            
          </p>
        </md-card-content>
      </md-card>

      
    <md-content class="md-padding" layout="row" layout-wrap layout-align="center start">
         <md-card flex="30">
          <md-card-header>
            </md-card-header>
            <img ng-src="./assets/images/insurance-app/travel.jpg" class="md-card-image"  alt="Washed Out">
            <br/>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Putno osiguranje</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <p>
                Osigurajte sebe i osobe koje putuju sa Vama. 
                Nudimo Vam putno osiguranje u odnosu na sledeće stavke:
                <ul style="list-style-type:disc">
                  <li>Trajanje putovanja</li>
                  <li>Broj osoba koji putuje sa Vama</li>
                  <li>Region u koji putujete</li>
                  <li>Starost osoba</li>
                  <li>Sport na putovanju</li>
                  <li>Iznos do koga ste osigurani</li>
                </ul>
              </p>
              <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <md-button class="md-raised md-primary"  ng-click="isc.showModalTravel($event)" style="color: rgba(255,255,255,0.87); background-color: rgb(249, 141, 52);">Kalkulacije</md-button>
              </section> 
            </md-card-content>
          </md-card>
          <md-card flex="30">
          <md-card-header>
            </md-card-header>
            <img ng-src="./assets/images/insurance-app/house.jpg" class="md-card-image" alt="Washed Out">
            <br/>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Stambeno osiguranje</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <p>
                  Nudimo Vam osiguranje kuće/stana u odnosu na sledeće stavke:
                <ul style="list-style-type:disc">
                  <li>Trajanje putovanja</li>
                  <li>Površina kuće/stana</li>
                  <li>Starost kuće/stana</li>
                  <li>Procenjena vrednost kuće/stana</li>
                  <li>Od čega se osigurava kuća/stan </li>
                </ul>
              </p>
              <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <md-button class="md-raised md-primary"  ng-click="isc.showModalHome($event)" style="color: rgba(255,255,255,0.87); background-color: rgb(249, 141, 52);">Kalkulacije</md-button>
              </section> 
            </md-card-content>
          </md-card>
          <md-card flex="30">
          <md-card-header>
            </md-card-header>
            <img ng-src="./assets/images/insurance-app/car.jpg" class="md-card-image" alt="Washed Out">
            <br/>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Pomoć na putu</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <p>
                   Nudimo Vam osiguranje pomoć na putu u odnosu na sledeće stavke:
                <ul style="list-style-type:disc">
                  <li>Trajanje putovanja</li>
                  <li>Šlepovanje do određene kilometraže</li>
                  <li>Popravka do određene cene </li>
                  <li>Smeštaj u hotelu do određenog broja dana</li>
                </ul>
              </p>
              <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <md-button class="md-raised md-primary"  ng-click="isc.showModalVehicle($event)" style="color: rgba(255,255,255,0.87); background-color: rgb(249, 141, 52);">Kalkulacije</md-button>
              </section>
            </md-card-content>
          </md-card>
      </md-content>
</md-content>




