
<md-content class="md-padding">
	<div layout="column">
      <md-card>
        <md-card-title layout="row" layout-align="center start" class="layout-align-center-start layout-row">
          <md-card-title-text>
          	<br/>
            <span class="md-headline">Kontakt E2 master osguravajuće kuće</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-content>
        	<p layout="row" layout-align="center start" class="layout-align-center-start layout-row">Radno vreme:	 od 08.00 do 16.00</p>
        	<p layout="row" layout-align="center start" class="layout-align-center-start layout-row">Adresa: Novi Sad - Park City</p>
        	<p layout="row" layout-align="center start" class="layout-align-center-start layout-row">Telefon:  021 785 27 28</p>
        	<p layout="row" layout-align="center start" class="layout-align-center-start layout-row">Email: e2MasterOffice@gmail.com</p>
        </md-card-content>
      </md-card>
    </div>
</md-content>