
<md-content class="md-padding" >

    <md-card>

      <md-card-header>
        </md-card-header>
        <img ng-src="./assets/images/insurance-app/cover-home.png" class="md-card-image" alt="Washed Out">
        <br/>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Dobro nam došli!</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            E2 osiguranje Vam nudi međunarodno putno osiguranje. Dok ste na putu osigurajte i svoj dom i obezbjedite sebi pomoć na putu.          
          </p>
        </md-card-content>
      </md-card>
</md-content>


