<md-dialog aria-label="Kalkulacije"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Kalkulacije - Stambeno osiguranje</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="mdc.cancel()">
          <md-icon md-svg-src="./assets/images/angular-material/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
          <md-button class="md-raised md-primary" style="color: rgba(255,255,255,0.87); background-color: rgb(249, 141, 52);">Izračunaj</md-button>
        </section>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>