<md-dialog aria-label="Kalkulacije"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Kalkulacije - Putno osiguranje</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="mdc.cancel()">
          <md-icon md-svg-src="./assets/images/angular-material/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
          <md-input-container class="md-block">
            <label for="input_203">Nesto...</label>
            <input class="ng-valid md-input ng-dirty ng-valid-parse ng-touched" id="input_203" aria-invalid="false">
          </md-input-container>
          <md-input-container>
            <label>Broj osoba</label>
            <md-select ng-model="people">
              <md-option>Individualno</md-option>
              <md-option>Porodica</md-option>
              <md-option>Grupa</md-option>
            </md-select>
          </md-input-container>
          <md-input-container>
          <label>Država</label>
            <md-select ng-model="state">
              <md-option>Austrija</md-option>
              <md-option>Francuska</md-option>
              <md-option>Italija</md-option>
            </md-select>
         </md-input-container>
          <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button class="md-raised md-primary" style="color: rgba(255,255,255,0.87); background-color: rgb(249, 141, 52);">Izračunaj</md-button>
          </section>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>